.chat-message {
  position: relative;
  width: fit-content;
  margin: 3%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(77, 122, 165, 0.17);
  font-size: 1rem;
}

.chat-reciever {
  margin-left: auto;
  background-color: rgba(27, 53, 78, 0.966);
  color: white;
}

.chat-timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat-name {
  position: absolute;
  top: -17px;
  margin-left: 10px;
  font-size: xx-small;
  font-weight: 800;
  color: black;
}
