.chat {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid rgba(77, 122, 165, 0.17);
}

.chat-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 22%;
}

.chat-header-info {
  flex: 1;
  padding-left: 20px;
}

.chat-header-info > h3 {
  margin-bottom: 5px;
  font-weight: 500;
}

.chat-header-info > p {
  color: rgb(128, 128, 128);
}

.chat-icons {
  color: rgba(27, 53, 78, 0.966);
  font-size: 2rem !important;
}

.chat-body {
  flex: 1;
  overflow-y: scroll;
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid rgba(77, 122, 165, 0.17);
  height: 8%;
}

.chat-input > form {
  display: flex;
  justify-content: center;
  flex: 1;
}

.chat-input > form > input {
  flex: 0.85;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline: none;
}

.chat-input > form > button {
  display: none;
}

.chat-input > .icon {
  color: rgb(128, 128, 128);
  margin: 0 15px;
}

.chat-input > .icon:hover {
  color: rgba(27, 53, 78, 0.966);
  margin: 0 15px;
  cursor: pointer;
}
