.sidebar {
  display: flex;
  flex-direction: column;
  width: 23%;
  border-right: 2px solid lightgrey;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(27, 53, 78, 0.966);
  padding: 20px;
}

.sidebar-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.icon {
  font-size: 2rem !important;
  color: #f9f9f9;
}
/* .icon:hover {
  color: rgba(77, 122, 165, 0.17);
} */

.sidebar-search-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(77, 122, 165, 0.966);
  border-bottom: 2px solid rgba(77, 122, 165, 0.17);
}

.sidebar-search-container > .icon {
  color: rgba(27, 53, 78, 0.966);
  font-size: 2.2rem !important;
  margin: 0 15px;
}

.sidebar-search-container > input {
  width: 100%;
  padding: 20px;
  border: none;
  background: transparent;
  outline: none;
}

.sidebar-add-chat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-add-chat > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: 2px solid rgba(27, 53, 78, 0.966);
  color: rgba(27, 53, 78, 0.966);
  transition: 0.3s ease-out;
  margin: 25px 0;
  cursor: pointer;
}

.sidebar-add-icon {
  font-size: 2rem !important;
}
.sidebar-add-chat > button:hover {
  background: rgba(77, 122, 165, 0.17);
  transform: scale(1.25);
}
