.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-right: 2px solid lightgrey;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(77, 122, 165, 0.966);
  padding: 20px;
}

.sidebar-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.icon {
  font-size: 2rem !important;
  color: #f9f9f9;
}
/* .icon:hover {
  color: rgba(77, 122, 165, 0.17);
} */

.sidebar-search-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(77, 122, 165, 0.966);
  border-bottom: 2px solid rgba(77, 122, 165, 0.17);
}

.sidebar-search-container > .icon {
  color: rgba(77, 122, 165, 0.966);
  font-size: 2.2rem !important;
  margin: 0 15px;
}

.sidebar-search-container > input {
  width: 100%;
  padding: 20px;
  border: none;
  background: transparent;
  outline: none;
}

.sidebar-chats > h2 {
  margin: 20px 0;
  text-align: center;
}
