/* Positioning */
/* Display & Box Model */
/* Color */
/* Text */
/* Other */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* background-color: #040714; */
  background-color: rgba(77, 122, 165, 0.17);
  /* color: #f9f9f9; */
  font-family: Avenir-Roman, sans-serif;
}

a {
  /* color: #f9f9f9; */
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 0.8rem;
  }
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}
